
{% extends "::base.html.twig" %}


{% block title %}PmsProjectsBundle:Topic:add{% endblock %}

{% block body %}

    <h1>Add Project</h1>
    
        {{ form_start(form) }}

        {{ form_errors(form.subject) }}
    
    {# store the prototype on the data-prototype attribute #}
    <a href="#" id="add-another-student" class="btn">Add another student</a><br><br><hr>
    
    <ul id="student-fields-list" data-prototype="{{ form_widget(form.students.vars.prototype) | e }}">
    {% for studentField in form.students %}
        <li>
            {{ form_errors(studentField) }}
            {{ form_widget(studentField) }}
        </li>
    {% endfor %}
    </ul>
    
    {{ form_end(form) }}
    
    <br><hr><br><a href="{{ url("index") }}" class="btn">Powrót</a>

{% endblock %}
    
    
{% block javascripts %}
    <script type="text/javascript">
        // keep track of how many student fields have been rendered
        var studentCount = '{{ form.students | length }}';
        
        jQuery(document).ready(function() {
            jQuery('#add-another-student').click(function() {
                if(studentCount < 3){
                var studentList = jQuery('#student-fields-list');

                // grab the prototype template
                var newWidget = studentList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your students
                // end name attribute looks like name="contact[students][2]"
                newWidget = newWidget.replace(/__name__/g, studentCount);
                studentCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(jQuery('#student-fields-list'));
            }
                return false;
            });
        })
    </script>
{% endblock %}