{% extends "::base.html.twig" %}

{% block title %}PmsProjectsBundle:Main:index{% endblock %}

{% block body %}
<h1>Projects Management Service</h1>

<a href="{{ url('topic_add') }}">Dodaj projekt</a>

<h2>Awaiting projects</h2>
<table border="1px solid">
    <tr>
        <th>subject</th>
        <th>lecturer</th>
        <th>entry date</th>
        <th>action</th>
        <th>students</th>
    </tr>
    {% for project in project.awaiting %}
    <tr><td>{{ project.subject }} </td><td> {{ project.lecturer.name }} </td><td> {{ project.entryDate }}</td><td> <a href="{{ path('changeStatus', {'id' : project.id}) }}">change</a></td><td>{{ project.team.id }}</td></tr>
    {% endfor %}
</table>

<h2>Accepted projects</h2>
<table border="1px solid">
    <tr>
        <th>subject</th>
        <th>lecturer</th>
        <th>entry date</th>
        <th>change datet</th>
        <th>comment</th>
    </tr>
    {% for project in project.accepted %}
    <tr><td>{{ project.subject }} </td><td> {{ project.lecturer.name }} </td><td> {{ project.entryDate }}</td><td>{{ project.changeDate }}</td><td>{{ project.comment }}</td></tr>
    {% endfor %}
</table>

<h2>Canceled projects</h2>
<table border="1px solid">
    <tr>
        <th>subject</th>
        <th>lecturer</th>
        <th>entry date</th>
        <th>change datet</th>
        <th>comment</th>
    </tr>
    {% for project in project.canceled %}
    <tr><td>{{ project.subject }} </td><td> {{ project.lecturer.name }} </td><td> {{ project.entryDate }}</td><td>{{ project.changeDate }}</td><td>{{ project.comment }}</td></tr>
    {% endfor %}
</table>

<br/>
<a href="{{ url('topic_add') }}">Dodaj projekt</a>

{% endblock %}
